<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    enforceTimeLimit="true"
    defaultTimeLimit="60"
>
    <testsuites>
        <testsuite name="integration">
            <directory prefix="" suffix="Test.php">./tests/integration/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WP_TESTS_MULTISITE" value="0"/>
    </php>
    <!-- F-4-7: per-test runtime tracking. Flags slow tests at end of run. -->
    <extensions>
        <extension class="LoginDelayShield\Tests\Support\WLDelay_Slow_Test_Reporter"/>
    </extensions>
</phpunit>
